<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="taxonomy" transaction-type="RESOURCE_LOCAL">

        <class>com.company.taxonomy.entity.Comments</class>
        <class>com.company.taxonomy.entity.Geographic_div</class>
        <class>com.company.taxonomy.entity.Taxonomic_units</class>
        <class>com.company.taxonomy.entity.Tu_comments_links</class>
        <class>com.company.taxonomy.entity.Longnames</class>
        <class>com.company.taxonomy.entity.Jurisdiction</class>
        <class>com.company.taxonomy.entity.Synonym_links</class>
        <class>com.company.taxonomy.entity.Nodc_ids</class>
        <class>com.company.taxonomy.entity.Kingdoms</class>
    </persistence-unit>
</persistence>
